.about {
  padding: 2rem;
  color: #fff;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.section-header {
  grid-column: 1 / span 3;
}

.about-detail {
  margin-top: 2rem;
}

.about p {
  line-height: 2;
}

a {
  color: rgb(192, 192, 192);
}

.bold-txt {
  font-weight: bold;
  font-size: 1.1rem;
}
