.animals-wrapper {
  padding: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3rem;
}

.animals-wrapper .animals-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
