.app-wrapper {
  max-width: 1200px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(5px);
  min-height: 100%;
  margin: 0 auto;
}

.section-header {
  font-size: 2.5rem;
  color: #fff;
}

input:focus {
  outline: 2px solid #999;
}

input[type="text"] {
  height: 35px;
  width: 200px;
  padding: 0 0.5rem;
  font-family: inherit;
  border: none;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.307);
}

input[type="text"]::placeholder {
  color: #ebebeb;
}
